scylla:
  datacenter: manager-dc
  racks:
    - name: manager-rack
      members: 1
      storage:
        storageClassName: yc-network-ssd
        capacity: 8Gi
      resources:
        limits:
          cpu: 2
          memory: 8Gi
        requests:
          cpu: 2
          memory: 8Gi
